#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0 !important;
}

#logo {
    font-size: 45px;
    padding-left: 5px;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columns p {
    margin: 0.25rem;
}

#modal-button {
    height: 2rem;
    width: 10rem;
    margin-top: 2rem;
    background-color: white !important;
}