#fill {
    width: 100%;
    height: calc(100vh);
    background-image: url("./splash.jpg"); /* no imports outside src..... */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-box {
    min-width: 25rem;
    height: 10rem;
    padding-bottom: 1.5rem;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#home-box form {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 80%;
    margin-left: -2rem;
}

#home-box form * {
    margin: 0.25rem;
    text-align: center;
}

#home-box form input {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 1rem;
}

#home-box form .link-btn:first-of-type {
    grid-column: 2;
}


#credit {
    margin: 0;
    text-align: center;
    color: white;
}