.current-mode {
    background-color: black !important;
    color: white;
}

.details {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 100%;
}

.details *:nth-child(odd) {
    font-weight: bold;
    text-align: right;
}

.details *:nth-child(even) {
    text-align: left;
    overflow-wrap: break-word;
}

.serif {
    font-family: serif;
}

.speech {
    padding: 0 !important;
}